{% extends "base.html" %}

{% block titulo %}
Deletar registro
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    {% block conteudo %}
    {% load bootstrap4 %}
</head>
<body>
    <div class="container">

        <form method="post">
            {% csrf_token %}
            Lote: {{object}} <br>
            Data: {{object.data_chegada}} <br>
            Localidade: {{object.localidade}} <br>
            <input type="submit" class="btn btn-success" value="Deletar">
        </form>
      </div>
</body>
</html>
{% endblock %}