{% extends 'base_simplificada.html' %}
{% load bootstrap4 %}


{% block conteudo %}
<div class="row"  style="justify-content:center">

  {% for producao in lista_producoes %}
       {%if forloop.counter0|divisibleby:2 %}
        <br>
       <div class="col-10 btn-toolbar" style="justify-content:center; margin-bottom: 2.5rem">

       {%endif%}

                <!-- Earnings (Monthly) Card Example -->
                {%  if producao.tipo_sistema == "A" %}
                <div class="col-lg-4 col-md-6">
                  <a href="{% url 'producao:detalhes' pk=producao.id %}" style="text-decoration: none;">
                    <div class="card border-left-primary shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center" style="display: flex;">
                          <div class="col mr-2">
                            <div class="text-m font-weight-bold text-primary text-uppercase mb-1">{{producao.get_tipo_sistema_display}}</div>
                            
                          
                            <div class="mb-0 text-gray-800"><strong>Data de chegada:</strong> {{producao.data_chegada|date:"d/m/y"}}</div>
                            <div class="mb-0 text-gray-800"><strong>Quantidade:</strong> {{producao.quantidade_aves_final}}</div>
                            
                          
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-kiwi-bird fa-3x" style="color:#007bff"></i>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                {% elif producao.tipo_sistema == "B"%}
              
    
                <!-- Earnings (Monthly) Card Example -->

                <div class="col-lg-4 col-md-6">
                  <a href="{% url 'producao:coleta_diaria' pk=producao.id %}" style="text-decoration: none;">
                  <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-m font-weight-bold text-success text-uppercase mb-1">{{producao.get_tipo_sistema_display}}</div>
                         
                         
                          <div class="mb-0 text-gray-800"><strong>Data de chegada:</strong> {{producao.data_chegada|date:"d/m/y"}}</div>
                          <div class="mb-0 text-gray-800"><strong>Quantidade:</strong> {{producao.quantidade_aves_final}}</div>
                          
                        
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-border-all fa-3x" style="color:#28a745"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                </div>

                {% else %}

                
                <div class="col-lg-4 col-md-6">
                  <a href="{% url 'producao:detalhes' pk=producao.id %}" style="text-decoration: none;">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-m font-weight-bold text-info text-uppercase mb-1">{{producao.get_tipo_sistema_display}}</div>
                          
                         
                          <div class="mb-0 text-gray-800"><strong>Data de chegada:</strong> {{producao.data_chegada|date:"d/m/y"}}</div>
                          <div class="mb-0 text-gray-800"><strong>Quantidade:</strong> {{producao.quantidade_aves_final}}</div>
                          
                       
                        </div>
                        <div class="col-auto">
                          <i class="fab fa-pagelines fa-3 fa-3x" style="color:#17a2b8"></i>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                </div>
    
               {%endif%}
               

          {%if forloop.counter|divisibleby:3 %}
    
        </div>
        {% endif %}

        {% endfor %}

  <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="h5 font-weight-bold text-primary text-uppercase mb-4">1ª Coleta do Dia</div>
                <div class="h6 mb-0 font-weight-bold text-gray-800">Realizar primeira coleta</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-egg fa-2x" style="color:#007bff"></i>
              </div>
            </div>
        </div>
    </div>
  </div> -->


  <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body" style="">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 font-weight-bold text-info text-uppercase mb-4">2ª Coleta do Dia</div>
            <div class="h6 mb-0 font-weight-bold text-gray-800">Realizar segunda coleta</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-egg  fa-2x" style="color:#36b9cc"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->

{% endblock %}