{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
  Lote {{lote}}
  <p class="m-0 h5 font-weight-regular text-gray-500">{{lote.get_status_display}}</p>
{% endblock %}

{% block conteudo %}
<!-- Informações gerais -->
<div class="row">
    <div class="col">
      <div class="card shadow mb-4">
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Informações</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4">
                <p><strong>Data de chegada:</strong> {{lote.data_chegada|date:"d/m/y"}}</p>
                <p><strong>Aptidão:</strong> {{lote.get_aptidao_display}}</p>
              </div>
              <div class="col-lg-4">
                <p><strong>Localidade:</strong> {{lote.localidade}}</p>
                <p><strong>Quantidade inicial:</strong> {{lote.quantidade_aves_chegada}}</p>
              </div>
              <div class="col-lg-4">
                <p><strong>Raça:</strong> {{lote.get_raca_display}}</p>
                <p style="color: #4e73df"><strong>Quantidade atual:</strong> {{lote.quantidade_aves_final}}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <h5>Indique o redirecionamento das aves:</h5>
  <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-4">
          {% bootstrap_field form.gaiola %}
        </div>
        <div class="col-lg-4">
          {% bootstrap_field form.free_range %}
        </div>
        <div class="col-lg-4">
          {% bootstrap_field form.caipira %}
        </div>
      </div>
      <input type="submit" class="btn btn-success" value="Confirmar">
  </form>
{% endblock %}