{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}

Registro diário da produção
{{producao.get_tipo_sistema_display}}
<p class="m-0 h5 font-weight-regular text-gray-500">Lote {{producao.lote}}</p>

{% endblock %}

{% block conteudo %}     
  {% if messages %}
      {% for message in messages %}
          <div class="card mb-4 py-0 border-left-danger">
            <div class="card-body">
              {{ message }}
            </div>
          </div>
      {% endfor %}
  {% endif %}

  <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-success" value="Registrar">
  </form>
{% endblock %}