
{% extends "base.html" %}
{% block titulo %}
  {{producao.get_tipo_sistema_display}}
  <p class="m-0 h5 font-weight-regular text-gray-500">Lote {{producao.lote}}</p>
{% endblock %}

{% block titulo_lateral %}
<a href="{% url 'producao:criar_registro_diario_1' pk=producao.id %}" class="btn btn-info btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-info-circle"></i>
    </span>
    <span class="text">Primeira coleta</span>
  </a>

  <a href="{% url 'producao:criar_registro_diario_2' pk=producao.id %}" class="btn btn-info btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-info-circle"></i>
    </span>
    <span class="text">Segunda coleta</span>
  </a>
{% endblock %}


{% block conteudo %}

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="card mb-4 py-0 border-left-danger">
          <div class="card-body">
            {{ message }}
          </div>
        </div>
      {% else %}
        <div class="card mb-4 py-0 border-left-success">
          <div class="card-body">
            {{ message }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
{% endif %}

{% if producao != None %}

    <div class="row">
        <div class="col">
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Informações</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4">
                    <p><strong>Data de chegada:</strong> {{producao.data_chegada|date:"d/m/y"}}</p>
                 
                  </div>
                  <div class="col-lg-4">
                    <p><strong>Quantidade de aves inicial na produção:</strong> {{producao.quantidade_aves_chegada}}</p>
                    
                  </div>
                  <div class="col-lg-4">
                 
                    <p style="color: #4e73df"><strong>Quantidade de aves atual:</strong> {{producao.quantidade_aves_final}}</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>


      <div class="row">

        <!-- Gráfico da Coleta -->
        <div class="col-lg-6">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Coleta diária</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-area">
                <canvas id="coleta_chart"></canvas>
              </div>
            </div>
          </div>
    
        </div>
    
        <!-- Gráfico da mortalidade -->
        <div class="col-lg-6">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Mortalidade/Ovos quebrados</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-area">
                <canvas id="mortalidade_chart"></canvas>
              </div>
            </div>
          </div>
    
        </div>
    </div>
    

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registros diários</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Data</th>
                <th>Primeira coleta</th>
                <th>Segunda coleta</th>
                <th>Ovos quebrados</th>
                <th>Mortalidade</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- Tabela de registros diários -->
              {% for movimento in movimento_diario %}
              <tr>
                  <td>{{movimento.data|date:"d/m/y (D)" }}</td>

                  <td> 
                    
                  {% if movimento.primeira_coleta != None %}
                    {{movimento.primeira_coleta}}
                  {% else %}
                    -
                  {% endif %}

                  </td> 
                  
                  <td>  
                    
                  {% if movimento.segunda_coleta != None %}
                    {{movimento.segunda_coleta}}
                  {% else %}
                    -
                  {% endif %}
                </td> 

                  <td>{{movimento.ovos_quebrados}}</td>
                  
                  <td>{{movimento.mortalidade}}</td>
                  <td>
                    <!-- Botão para editar -->
                    <a href="{% url 'producao:editar_registro' pk=movimento.pk %}" class="btn btn-success btn-circle btn-sm">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
  
                    <!-- Botão para deletar -->
                    <a href="" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#fm-modal-grid-{{movimento.pk}}"
                            data-tt="tooltip" title="Deletar">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
  
                    <!-- Modal do deletar -->
                    <div class="modal fade" id="fm-modal-grid-{{movimento.pk}}" tabindex="-1"
                          role="dialog" aria-labelledBy="fm-modal-grid-{{movimento.pk}}"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#4e73df">
                                    <h5 class="modal-title" id=""><strong><font color="white">Você tem certeza que deseja apagar este registro?</font></strong></h5>
                                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p><strong>Data:</strong> {{movimento.data|date:"d/m/y"}}</p>
                                            </div>

                                            <div class="col-lg-4">
                                              <p><strong>Primeira coleta:</strong> {{movimento.primeira_coleta}}</p>
                                          </div>

                                          <div class="col-lg-4">
                                            <p><strong>Segunda coleta:</strong> {{movimento.segunda_coleta}}</p>
                                          </div>

                                          <div class="col-lg-4">
                                            <p><strong>Ovos quebrados:</strong> {{movimento.ovos_quebrados}}</p>
                                          </div>
  
                                            <div class="col-lg-4">
                                                <p><strong>Mortalidade:</strong> {{movimento.mortalidade}}</p>
                                            </div>
  
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer" style="background-color: rgb(78,115,223);">
                                    <form action="{% url 'producao:deletar_movimento_diario' pk=movimento.pk %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-danger">Deletar</button>
                                    </form>
                                    <button class="btn btn-dark" data-dismiss="modal">Cancelar</button>
  
                                </div>
                            </div>
                        </div>
                    </div>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  
    <a href="{% url 'producao:cadastrar' %}" class="btn btn-primary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-egg"></i>
      </span>
      <span id="teste" class="text">Finalizar Lote</span>
    </a>
    <a href="#" class="btn btn-danger btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-window-close"></i>
      </span>
      <span class="text">Acessar lotes finalizados</span>
    </a>
  
{% endif %}

  <script>
    window.onload = function () {
      var ctx1 = document.getElementById("mortalidade_chart").getContext('2d');
      var grafico1 = new Chart(ctx1, {
          type: 'line',
          data: {
              labels: {{  datas_mortalidade | safe }},
              datasets: [
              {
                  label: '#Mortalidade',
                  data: {{ mortalidade | safe }},
                  backgroundColor: 'rgba(74, 111, 220, 0)',
                  borderColor: '#28a745',
                  borderWidth: 2.5
              },

              {
                  label: '#Ovos quebrados',
                  data: {{ ovos_quebrados | safe }},
                  backgroundColor: 'rgba(74, 111, 220, 0)',
                  borderColor: '#17a2b8',
                  borderWidth: 2.5
              }
              ]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
      var ctx2 = document.getElementById("coleta_chart").getContext('2d');
      var grafico2 = new Chart(ctx2, {
          type: 'line',
          data: {
              labels: {{  datas_coletas | safe }},
              datasets: [
              {
                  label: '#Ovos',
                  data: {{ coletas | safe }},
                  backgroundColor: 'rgba(74, 111, 220, 0)',
                  borderColor: '#007bff',
                  borderWidth: 2.5
              }
              ]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
      grafico1.render();
      grafico2.render();
    }
  </script>



{% endblock %}

