{% extends "base.html" %}
{% block titulo %}
Produção
{% endblock %}


{% block titulo_lateral %}
<a href="#" class="btn btn-info btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-info-circle"></i>
    </span>
    <span class="text">Meu botão</span>
  </a>
{% endblock %}

{% block conteudo %}
    {% if object_list %}
    <ul>
        {% for producao in object_list %}
        <li>
            {{producao.tipo_sistema}} - {{producao.data_chegada}} - {{producao.quantidade_aves_chegada}}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Não há produção.</p>
    {% endif %}
{% endblock %}