{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
  Aviário da EAJ/UFRN
{% endblock %}

{% block conteudo %}
<div class="row">

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
           <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Aves de postura</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ qnt_aves_postura }} aves</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-syringe fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Média de postura diária de ovos (gaiola)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ media_postura_diaria_B }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-vials fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Média de postura diária de ovos (free_range)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ media_postura_diaria_A }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Média de postura diária de ovos (caipira)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ media_postura_diaria_C }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-percentage fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=row>
<div class="col-lg-12">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Postura</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="chart-area">
        <canvas id="postura_chart"></canvas>
      </div>
    </div>
  </div>

</div>
</div>

<script>
  window.onload = function () {
    var ctx1 = document.getElementById("postura_chart").getContext('2d');
    var grafico1 = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: {{  ultimo_12 | safe }},
            datasets: [
            {
                label: '{{label_3_anos}}',
                data: {{ ovos_mes_3_anos | safe }},
                backgroundColor: 'rgba(74, 111, 220, 0)',
                borderColor: '#e74a3b',
                borderWidth: 2.5
            },
            {
                label: '{{label_2_anos}}',
                data: {{ ovos_mes_2_anos | safe }},
                backgroundColor: 'rgba(74, 111, 220, 0)',
                borderColor: '#1cc88a',
                borderWidth: 2.5
            },
            {
                label: '{{label}}',
                data: {{ ovos_mes | safe }},
                backgroundColor: 'rgba(74, 111, 220, 0)',
                borderColor: '#007bff',
                borderWidth: 2.5
            },
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            responsive: true,
            maintainAspectRatio: false,
        }
    });
    grafico1.render();
  }
</script>
{% endblock %}