{% extends "base.html" %}
{% block titulo %}
Registro diário
<p class="m-0 h5 font-weight-regular text-gray-500">Lote {{lote}}</p>

{% endblock %}

{% block conteudo %}     
{% if messages %}
    {% for message in messages %}
        <div class="card mb-4 py-0 border-left-danger">
          <div class="card-body">
            {{ message }}
          </div>
        </div>
    {% endfor %}
{% endif %}
{% load bootstrap4 %}
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
            <input type="submit" class="btn btn-success" value="Registrar">
        </form>
{% endblock %}