{% extends "base.html" %}

{% block titulo %}
{% if lote == None %}
  Não há lotes de confinameto cadastrados
{% else %}
  Lote {{lote}}
  <p class="m-0 h5 font-weight-regular text-gray-500">{{lote.get_status_display}}</p>
{% endif %}
{% endblock %}

{% block titulo_lateral %}
{% if lote != None %}
<a href="{% url 'lote:criar_registro_diario' %}" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
    </span>
    <span class="text">Registro diário</span>
  </a>
{% endif %}
{% endblock %}

{% block conteudo %}

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="card mb-4 py-0 border-left-danger">
          <div class="card-body">
            {{ message }}
          </div>
        </div>
      {% else %}
        <div class="card mb-4 py-0 border-left-success">
          <div class="card-body">
            {{ message }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
{% endif %}

{% if lote != None %}
  
<!-- Informações gerais -->
<div class="row">
  <div class="col">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Informações</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <p><strong>Data de chegada:</strong> {{lote.data_chegada|date:"d/m/y"}}</p>
              <p><strong>Aptidão:</strong> {{lote.get_aptidao_display}}</p>
            </div>
            <div class="col-lg-4">
              <p><strong>Localidade:</strong> {{lote.localidade}}</p>
              <p><strong>Quantidade inicial:</strong> {{lote.quantidade_aves_chegada}}</p>
            </div>
            <div class="col-lg-4">
              <p><strong>Raça:</strong> {{lote.get_raca_display}}</p>
              <p style="color: #4e73df"><strong>Quantidade atual:</strong> {{lote.quantidade_aves_final}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row">

    <!-- Gráfico da mortalidade -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Mortalidade</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="mortalidade_chart"></canvas>
          </div>
        </div>
      </div>

    </div>

    <!-- Gráfico do peso -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Peso</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="pesos_chart"></canvas>
          </div>
        </div>
      </div>

    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Registros diários</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Data</th>
              <th>Peso</th>
              <th>Mortalidade</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- Tabela de registros diários -->
            {% for registro in registros_diarios %}
            <tr>
                <td>{{registro.data|date:"d/m/y (D)" }}</td>
                <td>
                  {% if registro.peso != None %}
                    {{registro.peso}} kg
                  {% else %}
                    -
                  {% endif %}
                </td>
                <td>{{registro.mortalidade}}</td>
                <td>
                  <!-- Botão para editar -->
                  <a href="{% url 'lote:editar_registro' pk=registro.pk %}" class="btn btn-success btn-circle btn-sm">
                    <i class="fas fa-pencil-alt"></i>
                  </a>

                  <!-- Botão para deletar -->
                  <a href="" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#fm-modal-grid-{{registro.pk}}"
                          data-tt="tooltip" title="Deletar">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>

                  <!-- Modal do deletar -->
                  <div class="modal fade" id="fm-modal-grid-{{registro.pk}}" tabindex="-1"
                        role="dialog" aria-labelledBy="fm-modal-grid-{{registro.pk}}"
                      aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                              <div class="modal-header" style="background-color:#4e73df">
                                  <h5 class="modal-title" id=""><strong><font color="white">Você tem certeza que deseja apagar este registro?</font></strong></h5>
                                  <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-lg-4">
                                              <p><strong>Data:</strong> {{registro.data|date:"d/m/y"}}</p>
                                          </div>

                                          <div class="col-lg-4">
                                              <p><strong>Mortalidade:</strong> {{registro.mortalidade}}</p>
                                          </div>

                                          <div class="col-lg-4">
                                              <p><strong>Peso:</strong> {{registro.peso}}</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="modal-footer" style="background-color: rgb(78,115,223);">
                                  <form action="{% url 'lote:deletar_registro' pk=registro.pk %}" method="POST">
                                          {% csrf_token %}
                                          <button class="btn btn-danger">Deletar</button>
                                  </form>
                                  <button class="btn btn-dark" data-dismiss="modal">Cancelar</button>

                              </div>
                          </div>
                      </div>
                  </div>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <a href="#" class="btn btn-primary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-egg"></i>
    </span>
    <span id="teste" class="text">Enviar para postura</span>
  </a>
  <a href="#" class="btn btn-danger btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-window-close"></i>
    </span>
    <span class="text">Acessar lotes finalizados</span>
  </a>

{% endif %}
<script>
  window.onload = function () {
    var ctx1 = document.getElementById("mortalidade_chart").getContext('2d');
    var grafico1 = new Chart(ctx1, {
        type: 'line',
        data: {
            labels: {{  datas_mortalidade | safe }},
            datasets: [
            {
                label: '#Mortalidade',
                data: {{ mortalidade | safe }},
                backgroundColor: 'rgba(74, 111, 220, 0)',
                borderColor: '#e74a3b',
                borderWidth: 2.5
            }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var ctx2 = document.getElementById("pesos_chart").getContext('2d');
    var grafico2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: {{  datas_peso | safe }},
            datasets: [
            {
                label: 'Peso (kg)',
                data: {{ pesos | safe }},
                backgroundColor: 'rgba(74, 111, 220, 0)',
                borderColor: '#1cc88a',
                borderWidth: 2.5
            }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    grafico1.render();
    grafico2.render();
  }
</script>

{% endblock %}