{% extends "base.html" %}
{% block titulo %}
Lotes abertos
{% endblock %}


{% block titulo_lateral %}
<a href="#" class="btn btn-info btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-info-circle"></i>
    </span>
    <span class="text">Meu botão</span>
  </a>

  
  <div class="row">
    <div classs="col-sm-4"> 
      <a href="#" class="thumbnail">
          <img src="static/img/teste.jpg">
      </a>
    </div>
  </div>
 
{% endblock %}

{% block conteudo %}
    {% if lote_list %}
    <ul>
        {% for lote in lote_list %}
        <li>
            {{lote.data_chegada}} - {{lote.quantidade_inicial}} -> {{lote.localidade}} ::: {{lote.get_status_display}}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Não há lotes cadastrados.</p>
    {% endif %}
{% endblock %}