{% extends "base.html" %}
{% block titulo %}
Lotes de confinamento
{% endblock %}


{% block titulo_lateral %}
<a href="#" class="btn btn-info btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-info-circle"></i>
    </span>
    <span class="text">Meu botão</span>
  </a>
{% endblock %}

{% block conteudo %}
    {% if object_list %}

  
    
        {% for lote in object_list %}
       {%if forloop.counter0|divisibleby:3 %}
        <br>
       <div class="row">

       {%endif%}

                <!-- Earnings (Monthly) Card Example -->
               
                {%  if lote.status == "A" %}
                <div class="col-lg-4 col-md-6">
                  <a href="" style="text-decoration: none;">
                    <div class="card border-left-primary shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-m font-weight-bold text-primary text-uppercase mb-1">{{lote.get_status_display}}</div>
                            
                          
                            <div class="mb-0 text-gray-800"><strong>Data de chegada:</strong> {{lote.data_chegada|date:"d/m/y"}}</div>
                            <div class="mb-0 text-gray-800"><strong>Quantidade:</strong> {{lote.quantidade_aves_final}}</div>
                            <div class="mb-0 text-gray-800"><strong>Localidade:</strong> {{lote.localidade}}</div>
                            
                          
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-kiwi-bird fa-3x" style="color:#007bff"></i>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                {% elif lote.status == "B"%}
              
    
                <!-- Earnings (Monthly) Card Example -->

                <div class="col-lg-4 col-md-6">
                  <a href="{% url 'lote:detalhes'%}" style="text-decoration: none;">
                  <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-m font-weight-bold text-success text-uppercase mb-1">{{lote.get_status_display}}</div>
                         
                         
                          <div class="mb-0 text-gray-800"><strong>Data de chegada:</strong> {{lote.data_chegada|date:"d/m/y"}}</div>
                          <div class="mb-0 text-gray-800"><strong>Quantidade:</strong> {{lote.quantidade_aves_final}}</div>
                          <div class="mb-0 text-gray-800"><strong>Localidade:</strong> {{lote.localidade}}</div>
                          
                        
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-kiwi-bird fa-3x" style="color:#28a745"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                </div>

                {% else %}

                
              
          <div class="col-lg-4 col-md-6">
            <a href="{% url 'lote:detalhes' %}" style="text-decoration: none;">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-m font-weight-bold text-info text-uppercase mb-1">{{lote.get_status_display}}</div>
                    
                   
                    <div class="mb-0 text-gray-800"><strong>Data de chegada:</strong> {{lote.data_chegada|date:"d/m/y"}}</div>
                    <div class="mb-0 text-gray-800"><strong>Quantidade:</strong> {{lote.quantidade_aves_final}}</div>
                    <div class="mb-0 text-gray-800"><strong>Localidade:</strong> {{lote.localidade}}</div>
                    
                 
                  </div>
                  <div class="col-auto">
                    <i class="far fa-list-alt fa-3 fa-3x" style="color:#17a2b8"></i>

                    
                  </div>
                </div>
              </div>
            </div>
          </a>
          </div>

         {%endif%}
         

    {%if forloop.counter|divisibleby:3 %}
    
        </div>
        {% endif %}

        {% endfor %}

     {% if not object_list|length|divisibleby:3 %} 
      </div>
     {% endif %}
    
    {% else %}
        <p>Não há produção.</p>
    {% endif %}

  
{% endblock %}